link(rel="import", href="../components/polymer/polymer.html")
link(rel="import", href="../components/paper-card/paper-card.html")

dom-module(id="module-readme")
  template
    style.
      :host {
        display: block;

        padding: 10px 20px;
      }
      #content {
        width: 100%;
      }
    paper-card(elevation=2 heading="README.md")#content
      .card-content
        | !{readme}

  script.
    Polymer({
      is: 'module-readme'
    });